<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductosPortBinding" />
                <binding name="ProductosTipoPortBinding" />
                <binding name="PedidoPortBinding" />
                <binding name="EmpleadoPortBinding" />
                <binding name="CitaPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.37:8080/SoftInvWS/Productos"
                binding="basicHttpBinding" bindingConfiguration="ProductosPortBinding"
                contract="SoftInvWSProductos.Productos" name="ProductosPort" />
            <endpoint address="http://192.168.1.37:8080/SoftInvWS/ProductoTipo"
                binding="basicHttpBinding" bindingConfiguration="ProductosTipoPortBinding"
                contract="SoftInvWSProductoTipo.ProductosTipo" name="ProductosTipoPort" />
            <endpoint address="http://192.168.1.37:8080/SoftInvWS/Pedido"
                binding="basicHttpBinding" bindingConfiguration="PedidoPortBinding"
                contract="SoftInvWSPedido.Pedido" name="PedidoPort" />
            <endpoint address="http://192.168.1.37:8080/SoftInvWS/Empleado"
                binding="basicHttpBinding" bindingConfiguration="EmpleadoPortBinding"
                contract="SoftInvWSEmpleado.Empleado" name="EmpleadoPort" />
            <endpoint address="http://192.168.1.37:8080/SoftInvWS/Cita" binding="basicHttpBinding"
                bindingConfiguration="CitaPortBinding" contract="SoftInvWSCita.Cita"
                name="CitaPort" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
