<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductosPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftInvWS/Productos"
                binding="basicHttpBinding" bindingConfiguration="ProductosPortBinding"
                contract="SoftInvWSProductos.Productos" name="ProductosPort" />
        </client>
    </system.serviceModel>
</configuration>