<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PedidoPortBinding" />
                <binding name="EmpleadoPortBinding" />
                <binding name="CitaPortBinding" />
                <binding name="ProductosTipoPortBinding" />
                <binding name="ProductosPortBinding" />
                <binding name="CalendarioPortBinding" />
                <binding name="HorarioTrabajoPortBinding" />
                <binding name="ServicioPortBinding" />
                <binding name="UsuarioPortBinding" />
                <binding name="ComentarioPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftInvWS/Pedido" binding="basicHttpBinding"
                bindingConfiguration="PedidoPortBinding" contract="SoftInv.Servicios.Pedido"
                name="PedidoPort" />
            <endpoint address="http://localhost:8080/SoftInvWS/Empleado"
                binding="basicHttpBinding" bindingConfiguration="EmpleadoPortBinding"
                contract="SoftInv.Servicios.Empleado" name="EmpleadoPort" />
            <endpoint address="http://localhost:8080/SoftInvWS/Cita" binding="basicHttpBinding"
                bindingConfiguration="CitaPortBinding" contract="SoftInv.Servicios.Cita"
                name="CitaPort" />
            <endpoint address="http://localhost:8080/SoftInvWS/ProductoTipo"
                binding="basicHttpBinding" bindingConfiguration="ProductosTipoPortBinding"
                contract="SoftInv.Servicios.ProductosTipo" name="ProductosTipoPort" />
            <endpoint address="http://localhost:8080/SoftInvWS/Productos"
                binding="basicHttpBinding" bindingConfiguration="ProductosPortBinding"
                contract="SoftInv.Servicios.Productos" name="ProductosPort" />
            <endpoint address="http://localhost:8080/SoftInvWS/Calendario"
                binding="basicHttpBinding" bindingConfiguration="CalendarioPortBinding"
                contract="SoftInv.Servicios.Calendario" name="CalendarioPort" />
            <endpoint address="http://localhost:8080/SoftInvWS/HorarioTrabajo"
                binding="basicHttpBinding" bindingConfiguration="HorarioTrabajoPortBinding"
                contract="SoftInv.Servicios.HorarioTrabajo" name="HorarioTrabajoPort" />
            <endpoint address="http://localhost:8080/SoftInvWS/Servicio"
                binding="basicHttpBinding" bindingConfiguration="ServicioPortBinding"
                contract="SoftInv.Servicios.Servicio" name="ServicioPort" />
            <endpoint address="http://localhost:8080/SoftInvWS/Usuario" binding="basicHttpBinding"
                bindingConfiguration="UsuarioPortBinding" contract="SoftInv.Servicios.Usuario"
                name="UsuarioPort" />
            <endpoint address="http://localhost:8080/SoftInvWS/Comentario"
                binding="basicHttpBinding" bindingConfiguration="ComentarioPortBinding"
                contract="SoftInv.Servicios.Comentario" name="ComentarioPort" />
        </client>
    </system.serviceModel>
</configuration>