
/* BEGIN EXTERNAL SOURCE */
img {
height:100%
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
i {
color: #000000;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
i {
color: #000000;
}
/* END EXTERNAL SOURCE */
