@font-face {
  font-family: 'icomoon';
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kp7wew'); /* <--- Mira esta ruta */
  src:  url('fonts/icomoon.eot?kp7wew#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kp7wew') format('truetype'),
    url('fonts/icomoon.woff?kp7wew') format('woff'),
    url('fonts/icomoon.svg?kp7wew#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheveron-left:before {
  content: "\e913";
}
.icon-cheveron-right:before {
  content: "\e914";
}
.icon-play:before {
  content: "\e908";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-screen-full:before {
  content: "\e910";
}
.icon-cancel:before {
  content: "\e904";
}
.icon-minus:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e909";
}
.icon-package:before {
  content: "\e90d";
}
.icon-slider-menu:before {
  content: "\e903";
}
.icon-eye:before {
  content: "\e906";
}
.icon-shopping-cart:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-return:before {
  content: "\e90c";
}
.icon-store:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e905";
}
.icon-like:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e90f";
}
.icon-chevron-up:before {
  content: "\e912";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-behance:before {
  content: "\f1b5";
}
.icon-pinterest:before {
  content: "\f231";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-star-half:before {
  content: "\f123";
}
